@charset "UTF-8";
/* CSS Document */
body {
	background-color:#f8f8f8;
	font-weight:normal;
}
h1	{
	font-size:200%;
	font-weight:800;
}
.navbar {
	background-image:url(/static/img/topnav-bee.png)!important;
	background-position:right top;
	background-repeat:no-repeat;
	background-color:#fff;
	padding-right:60px;
}
.navbar a	{
	font-weight:700;
}
.navbar a:hover	{
	border-bottom: 1px solid #33cc99;
}
.content-area	{
	background-color:#fff;
	padding:0 16px 16px 16px; 
	border:1px solid #ddd;
}
.card	{
	margin-top:20px;
}
.card-header	{
	font-size: 150%;
	font-weight:700;
	color:#333;
}
.state	{
	color:#c3c;
}
.alert	{
	color:#c03!important;
}
a.delete	{
	color:c03!important;
}
a.delete:hover	{
	color:#f36!important;
}
.add-left-space	{
	padding-left: 24px;
}
li.list-group-item	{
	font-weight:normal;
	border:none;
	padding-bottom:4px;
}
li.list-group-item a:hover{
	border-bottom:1px solid #3c9;
	text-decoration:none;
}
li.list-group-item small	{
	font-weight:normal;
}
li.list-group-item p	{
	margin-bottom:0;
}
footer	{
	background-image:url(/static/img/bee-glasses.png)!important;
	background-position:left;
	background-repeat:no-repeat;
}
.copyright	{
	font-weight: 700!important;
}
.text-muted	{
	font-weight:normal;
}
.agent-name	{
	color:#096;
	padding:0 4px 0 4px;
}

.DestroyPortalAlert	{
	color:#903;
	background-image:url(/static/img/exclamation.png)!important;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.LetDecayPortalAlert	{
	color:#333;
	background-image:url(/static/img/no-go.png)!important;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.UseVirusAlert	{
	background-image:url(/static/img/virus.png)!important;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}