@charset "UTF-8";
/* CSS Document */
body {
	background-color:#f8f8f8;
	font-weight:normal;
}
h1	{
	font-size:200%;
	font-weight:800;
}
.navbar {
	background-image:url(/static/img/topnav-bee.png)!important;
	background-position:right top;
	background-repeat:no-repeat;
	background-color:#fff;
	padding-right:60px;
}
.navbar a	{
	font-weight:700;
}
.navbar a:hover	{
	border-bottom: 1px solid #33cc99;
}
.content-area	{
	background-color:#fff;
	padding:0 16px 16px 16px; 
	border:1px solid #ddd;
}
.card	{
	margin-top:20px;
}
.card-header	{
	font-size: 150%;
	font-weight:700;
	color:#333;
}
.state	{
	color:#c3c;
}
.alert	{
	color:#c03!important;
}
a.delete	{
	color:c03!important;
}
a.delete:hover	{
	color:#f36!important;
}
.add-left-space	{
	padding-left: 24px;
}
li.list-group-item	{
	font-weight:normal;
	border:none;
	padding-bottom:4px;
}
li.list-group-item a:hover{
	border-bottom:1px solid #3c9;
	text-decoration:none;
}
li.list-group-item small	{
	font-weight:normal;
}
li.list-group-item p	{
	margin-bottom:0;
}
footer	{
	background-image:url(/static/img/bee-glasses.png)!important;
	background-position:left;
	background-repeat:no-repeat;
}
.copyright	{
	font-weight: 700!important;
}
.text-muted	{
	font-weight:normal;
}
.agent-name	{
	color:#096;
	padding:0 4px 0 4px;
}

.LetDecayPortalAlert	{
        color:#7D7D7D;
	background-image:url(/static/img/wasabee_markers_decay_pending.png)!important;
	background-size: 14px 24px;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.DestroyPortalAlert	{
        color:#CE3B37;
	background-image:url(/static/img/wasabee_markers_destroy_pending.png)!important;
	background-size: 14px 24px;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.FarmPortalMarker	{
        color:#CE3B37;
	background-image:url(/static/img/wasabee_markers_farm_pending.png)!important;
	background-size: 14px 24px;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.GotoPortalMarker	{
        color:#EDA032;
	background-image:url(/static/img/wasabee_markers_goto_pending.png)!important;
	background-size: 14px 24px;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.GetKeyPortalMarker	{
        color:#7D7D7D;
	background-image:url(/static/img/wasabee_markers_key_pending.png)!important;
	background-size: 14px 24px;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.CreateLinkAlert	{
        color:#5994FF;
	background-image:url(/static/img/wasabee_markers_link_pending.png)!important;
	background-size: 14px 24px;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.MeetAgentPortalMarker	{
        color:#EDA032;
	background-image:url(/static/img/wasabee_markers_meetagent_pending.png)!important;
	background-size: 14px 24px;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.OtherPortalAlert	{
        color:#3679B4;
	background-image:url(/static/img/wasabee_markers_other_pending.png)!important;
	background-size: 14px 24px;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.RechargePortalAlert	{
        color:#53AD53;
	background-image:url(/static/img/wasabee_markers_recharge_pending.png)!important;
	background-size: 14px 24px;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.UpgradePortalAlert	{
        color:#448800;
	background-image:url(/static/img/wasabee_markers_farm_pending.png)!important;
	background-size: 14px 24px;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}
.UseVirusPortalAlert	{
        color:#8920C3;
	background-image:url(/static/img/wasabee_markers_virus_pending.png)!important;
	background-size: 14px 24px;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:22px;
}

.selected {
	border-bottom: 1px solid #0f0;
	background-color:#3f3;
}

.handle {
	background-image:url(/static/img/reorder.svg)!important;
	background-position:left;
	background-repeat:no-repeat;
	padding-left:10px;
	padding-right:10px;
}

a.tooltip-display	{
	color:#666;
	border-bottom: 1px dotted #666;
}
a.tooltip-display:hover	{
	color:#666;
	border-bottom: 1px dotted #3C9!important;
}
