{{define "agent"}}
<html lang="en">
<head>
<title>Agent {{.Name}}</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
		<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<div class="card mb-2">
<div class="card-header">Agent: {{.Name}}</div>
<div class="card-body">
{{if .Blacklisted}}<h1>BLACKLISTED</h1><br/>{{end}}
{{.Name}} (Level: {{.Level}})<br/>
{{if .EnlID}}<a href="https://v.enl.one/profile/{{.EnlID}}">V Profile</a><br/>{{end}}
<a href="https://enlightened.rocks/u/{{.Gid}}">Rocks Profile</a>
</div>

{{if .CanSendTo}}
<div class="card mb-2">
<div class="card-header">Send Message</div>
<div class="card-body">
<form action="{{WebAPIPath}}/agent/{{.Gid}}/message" method="POST">
<textarea name="m"></textarea>
<input type="submit" name="send" value="send">
</form>
</div>
{{end}}
<!-- content ends here -->				
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}
{{template "bootstrapjs"}}

</body>
</html>
{{end}}
