{{define "styles"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://cdn2.wasabee.rocks/css/leaflet.css" rel="stylesheet"/>
<link href="https://cdn2.wasabee.rocks/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn2.wasabee.rocks/css/landing-page.css" rel="stylesheet">
<link href="https://cdn2.wasabee.rocks/css/wasabee.css" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="https://cdn2.wasabee.rocks/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://cdn2.wasabee.rocks/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://cdn2.wasabee.rocks/favicon-16x16.png">
<link rel="mask-icon" href="https://cdn2.wasabee.rocks/safari-pinned-tab.svg" color="#65d55b">
<link rel="shortcut icon" href="https://cdn2.wasabee.rocks/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Wasabee-WebUI">
<meta name="application-name" content="Wasabee-WebUI">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="msapplication-config" content="/static/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-eval' https://*.wasabee.rocks https://www.googletagmanager.com; child-src 'none'; object-src 'none'; font-src https://*.wasabee.rocks; connect-src https://*.wasabee.rocks https://www.google-analytics.com https://*.googleapis.com; worker-src https://*.wasabee.rocks https://www.google-analytics.com https://*.googleapis.com ; img-src https://*.googleusercontent.com https://*.wasabee.rocks https://*.openstreetmap.org 'self' data:; style-src https://*.wasabee.rocks 'unsafe-inline'">
{{end}}
{{define "footer"}}
<footer>
<div class="container">
<div class="row">
<div class="col">
<!-- <ul class="list-inline"></ul> -->
<p class="text-muted small">This site uses cookies for authentication purposes. You may opt into location tracking; your location and other information will be shared <strong>only</strong> with members of your teams. Your ENL information is verified with <a href="https://v.enl.one/">V</a> and <a href="https://enl.rocks">.rocks</a>. Please see the <a href="/privacy">Privacy Policy</a> for more information.</p>
</div>
</div>
</div>
</footer>
<!-- we don't actually need these -->
<!-- <script src="https://cdn2.wasabee.rocks/js/jquery-3.5.1.min.js"></script> -->
<!-- <script src="https://cdn2.wasabee.rocks/js/bootstrap.min.js"></script> -->
{{end}}
