{{define "me"}}
<html lang="en">
<head>
<title>{{.IngressName}} Agent data</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
	<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<h1>My Dashboard</h1>
<div class="content-area">
<div class="card mb-2">
<div class="card-header">My Assignments</div>
<div class="card-body">
<em>You have assignments in the following operations.</em>
  <ul class="list-group list-group-flush">
	{{range .Assignments}}
		<li class="list-group-item"><a href="{{WebAPIPath}}/draw/{{.OpID}}"><strong>{{.OperationName}}</strong> ({{.Type}})</a></li>
	{{end}}
  </ul>
</div>
<div class="card mb-2">
<div class="card-header">Operations</div>
<div class="card-body">
<em>Disable inactive teams to hide operations.</em>
  <ul class="list-group list-group-flush">
	{{range .Ops}}
		<li class="list-group-item"><a href="{{WebAPIPath}}/draw/{{.ID}}"><strong>{{.Name}}</strong></a> ({{.TeamName}})</li>
	{{end}}
  </ul>
</div>
</div>
</div>

<div class="card mb-2">
<div class="card-header">Teams</div>
<div class="card-body">
<em>Disable inactive teams. It is good opsec and reduces data transfer.</em>
  <ul class="list-group list-group-flush">
	{{range .Teams}}
		<li class="list-group-item"><a href="{{WebAPIPath}}/team/{{.ID}}"><strong>{{.Name}}</strong></a> <span class="state">({{.State}})</span>
{{if eq .State "Off"}}
			[ <a href="{{WebAPIPath}}/me/{{.ID}}?state=On">On</a> ]
{{else}}
			[ <a href="{{WebAPIPath}}/me/{{.ID}}?state=Off">Off</a> ]
{{end}}
{{if .RocksComm}}
			<span class="add-left-space"><em><a href="https://enlightened.rocks/comm/{{.RocksComm}}">This team is managed at enlightened.rocks</a></em></span>
{{else}}
			[ <a href="{{WebAPIPath}}/me/{{.ID}}/delete" class="delete">Remove Me</a> ]
{{end}}
		</li>
	{{end}}
  </ul>
</div>
</div>

<div class="card mb-2">
  <div class="card-header">My Teams</div>
  <div class="card-body">
  <ul class="list-group list-group-flush">
{{range .OwnedTeams}}
    <li class="list-group-item">
	<a href="{{WebAPIPath}}/team/{{.ID}}/edit" class="card-link"><strong>{{.Name}}</strong></a> [ <a href="{{WebAPIPath}}/team/{{.ID}}/delete" class="card-link delete">Delete</a> ]
	</li>
{{end}}
  <li class="list-group-item">
    <form action="{{WebAPIPath}}/team/new" method="get">
    <input type="text" name="name" />
    <input type="submit" name="update" value="new team" />
    </form>
  </li>
  </ul>
  </div>
</div>
</div>
		<!-- content ends here -->				
						
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}
{{template "bootstrapjs"}}
</body>
</html>
{{end}}
