{{define "opdata"}}
{{$drawID := .ID}}
<html lang="en">
<head>
<title>Loading ... </title>
{{template "styles"}}
</head>
<body onload="loadOp({{.ID}})">
{{template "nav"}}
	<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<h1>Op Data</h1>
<div class="content-area">

<div class="card mb-2">
<div class="card-header">Details</div>
<div class="card-body">
<ul class="list-group list-group-flush">
  <li class="list-group-item"><strong>Name:</strong> {{.Name}} (id: {{.ID}})</li>
  <li class="list-group-item"><a href="{{WebAPIPath}}/draw/{{.ID}}/perms">Permissions</a></li>
  <li class="list-group-item"><a href="{{WebAPIPath}}/draw/{{.ID}}/stock">Stock Intel Link</a></li>
  <li class="list-group-item"><a href="{{WebAPIPath}}/draw/{{.ID}}?lite=y">User View</a></li>
  <li class="list-group-item"><textarea onChange="setopinfo({{.ID}}, this)">{{.Comment}}</textarea></a></li>
</ul>
</div>
</div>

<div class="card">
<div class="card-header">Links</div>
<div class="card-body">
 <table class="table" id="optable">
  <thead>
    <tr>
     <th scope="col">&nbsp;<!-- handle --></th>
     <th scope="col">Order</th>
     <th scope="col">From</th>
     <th scope="col"><!-- swap --></th>
     <th scope="col">To/Type</th>
     <th scope="col">Distance</th>
     <th scope="col">Assigned To</th>
     <th scope="col">Color</th>
     <th scope="col">Desc.</th>
     <th scope="col">Status</th>
     <th scope="col">Done</th>
   </tr>
  </thead>
  <tbody id="opsteps">
  <!-- populated by loadOp() -->
 </tbody>
 </table>
</div>
</div>

<div class="card mb-2">
<div class="card-header" id="keysneeded">Keys Needed</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Portal</th>
     <th scope="col">Keys Required</th>
     <th scope="col">On Hand</th>
    </tr>
   </thead>
   <tbody id="opkeys">
   <!-- key list built by loadOp()-->
   </tbody>
  </table>
</div>
</div>

<div class="card mb-2">
<div class="card-header" id="capsulebuildlist">Capsule Build List</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Agent</th>
     <th scope="col">Portal</th>
     <th scope="col">Keys Required</th>
    </tr>
   </thead>
   <tbody id="capbuild">
   <!-- cap list built by loadOp() -->
   </tbody>
  </table>
</div>
</div>

<div class="card mb-2">
<div class="card-header">Misc. Functions</div>
<div class="card-body">
  <table class="table">
   <tbody>
     <tr><td><form action="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/chown"><input type="text" name="to" value=""> <input type="submit" name="Change Owner" value="Change Owner"></form></td></tr>
   </tbody>
  </table>
</div>
</div>

</div>
		<!-- content ends here -->				
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.intro-header -->

{{template "footer"}}
{{template "bootstrapjs"}}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.js"></script>
<script>
async function loadOp(id) {
  const me = await getMe();
  const res = await opPromise(id);
  const agents = await agentMap(res);
  const portals = portalMap(res);
  
  buildOpOrder(res, id, portals, agents);
  buildKeysNeeded(res, id, portals, agents);
}

function buildOpOrder(res, opID, portals, agents) {
  document.title = res.name + " Operation Data";

  const table = document.getElementById("opsteps");
  let oldrow = table.lastElementChild;
  while (oldrow) {
    table.removeChild(oldrow);
    oldrow = table.lastElementChild;
  }
  if (res.links) {
   res.links.forEach(function(link) {
    const r = table.insertRow(-1);
    r.setAttribute("id", link.ID);
    r.setAttribute("data-id", link.ID);
    const handle = r.insertCell(0);
    handle.innerHTML = "<span class=\"handle\"><img src=\"/static/img/reorder.svg\" alt=\"reorder\" style=\"width=:20px;height:20px;text-align:center;\"></span>";
    const pos = r.insertCell(1);
    pos.innerHTML = "<span id=\"opsteps-" + link.ID + "\">" + link.throwOrderPos + "</span>";
    const src = r.insertCell(2);
    const fromPortalName = portals.get(link.fromPortalId).name;
    src.innerHTML = "<span id=\"rev-" + link.ID + "-fm\"><a href=\"{{WebAPIPath}}/draw/" + opID + "/portal/" + link.fromPortalId + "\">" + fromPortalName + "</a></span>";
    const swap = r.insertCell(3);
    // build dom manually to do the onclick
    btn = document.createElement("img");
    btn.setAttribute("src", "/static/img/swap.svg");
    btn.setAttribute("alt", "reverse direction");
    btn.setAttribute("style", "width=:20px;height:20px;text-align:center;");
    btn.setAttribute("id", link.ID);
    btn.onclick = changeLinkDirection;
    swap.appendChild(btn);
    const dst = r.insertCell(4);
    const toPortalName = portals.get(link.toPortalId).name;
    dst.innerHTML = "<span id=\"rev-" + link.ID + "-to\"><a href=\"{{WebAPIPath}}/draw/" + opID + "/portal/" + link.toPortalId + "\">" + toPortalName + "</a></span>";
    const distance = r.insertCell(5);
    distance.innerHTML = calculateDistance(res, link.fromPortalId, link.toPortalId, portals);
    const assignedTo = r.insertCell(6);
    const m = agentMenu(agents, "link", link.ID, link.assignedTo);
    assignedTo.appendChild(m);
    const color = r.insertCell(7);
    const cm = colorMenu(link);
    color.appendChild(cm);
    const description = r.insertCell(8);
    description.innerHTML = link.description;
    const stat = r.insertCell(9);
    stat.innerHTML = "";
    const completed = r.insertCell(10);
    completed.innerHTML = "";
   });
  }
  if (res.markers) {
   res.markers.forEach(function(marker) {
    const r = table.insertRow(-1);
    r.setAttribute("id", marker.ID);
    r.setAttribute("data-id", marker.ID);
    const handle = r.insertCell(0);
    handle.innerHTML = "<span class=\"handle\"><img src=\"/static/img/reorder.svg\" alt=\"reorder\" style=\"width=:20px;height:20px;text-align:center;\"></span>";
    const pos = r.insertCell(1);
    pos.innerHTML = "<span id=\"opsteps-" + marker.ID + "\">" + marker.order + "</span>";
    const src = r.insertCell(2);
    const portalName = portals.get(marker.portalId).name;
    src.innerHTML = "<a href=\"{{WebAPIPath}}/draw/" + opID + "/portal/" + marker.portalId + "\">" + portalName + "</a>";
    const swap = r.insertCell(3);
    const action = r.insertCell(4);
    action.innerHTML = "<span class=\"" + marker.type + "\">" + marker.type + "</span>";
    const distance = r.insertCell(5);
    distance.innerHTML = "";
    const assignedTo = r.insertCell(6);
    const m = agentMenu(agents, "marker", marker.ID, marker.assignedTo);
    assignedTo.appendChild(m);
    const color = r.insertCell(7);
    const description = r.insertCell(8);
    description.innerHTML = marker.comment;
    const stat = r.insertCell(9);
    stat.innerHTML = marker.state;
    const completed = r.insertCell(10);
    completed.innerHTML = marker.completedBy;
   });
  }

  /* convert to array -- this is dumb, there has to be a better way than requiring jquery for this */
  const rows = $('#optable > tbody').children('tr').get();
  rows.sort(function(a, b) {
    return a.cells[1].innerText - b.cells[1].innerText;
  });
  for (var i = 0; i < rows.length; i++) {  // .append() will move them for you
    table.append(rows[i]);
  }
}

function buildKeysNeeded(res, opID, portals, agents) {
  const table = document.getElementById("opkeys");
  let oldrow = table.lastElementChild;
  while (oldrow) {
    table.removeChild(oldrow);
    oldrow = table.lastElementChild;
  }

  const keyNeeded = new Map();
  if (res.links) {
   res.links.forEach(function(link) {
      if (keyNeeded.has(link.toPortalId)) {
       let current = keyNeeded.get(link.toPortalId);
       keyNeeded.set(link.toPortalId, current + 1);
     } else {
       keyNeeded.set(link.toPortalId, 1);
     }
   });
  }

  const keyOnHand = new Map();
  if (res.keysonhand) {
   res.keysonhand.forEach(function(key) {
      if (keyOnHand.has(key.portalId)) {
       let current = keyOnHand.get(key.portalId);
       keyOnHand.set(key.portalId, current + key.onhand);
     } else {
       keyOnHand.set(key.portalId, key.onhand);
     }
   });
  }

  // XXX sort the list based on portal name
  for (const [k,v] of keyNeeded.entries()) {
    let oh = 0;
    if (keyOnHand.has(k)) {
      oh = keyOnHand.get(k);
    }

    const r = table.insertRow(-1);
    r.setAttribute("id", k + "-keyneeded");
    const portalNameCell = r.insertCell(0);
    const fromPortalName = portals.get(k).name;
    portalNameCell.innerHTML = "<a href=\"{{WebAPIPath}}/draw/" + opID + "/portal/" + k + "\">" + fromPortalName + "</a>";
    const requiredCell = r.insertCell(1);
    requiredCell.innerHTML = v;
    const onHandCell = r.insertCell(2);
    onHandCell.innerHTML = oh;

    if (oh < v) {
      onHandCell.style.color = "red";
    }
  }

  const capMap = new Map();

  for (const [k,v] of agents.entries()) {
    for (const l of res.links) {
      if (k == l.assignedTo) {
        if (capMap.has(k)) {
          let x = capMap.get(k);
	  if (x.has(l.toPortalId)) {
            y = x.get(l.toPortalId);
	    x.set(l.toPortalId, y + 1);
	  } else {
            x.set(l.toPortalId, 1);
	  }
	  capMap.set(k, x);
	} else {
	  let x = new Map();
	  x.set(l.toPortalId, 1);
	  capMap.set(k, x);
	}
      }
    }
  }

  const buildlist = document.getElementById("capbuild");
  for (const [k, v] of capMap.entries()) {
    for (const [x, y] of v.entries()) {
      const r = buildlist.insertRow(-1);
      r.setAttribute("id", k + "-kb");
      const agentNameCell = r.insertCell(0);
      const agent = agents.get(k);
      agentNameCell.innerHTML = agent.name;
      agentNameCell.innerHTML = "<a href=\"{{WebAPIPath}}/agent/" + k + "\">" + agent.name+ "</a>";
      const portal = portals.get(x);
      const portalNameCell = r.insertCell(1)
      portalNameCell.innerHTML = "<a href=\"{{WebAPIPath}}/draw/" + opID + "/portal/" + x + "\">" + portal.name+ "</a>";
      const countCell = r.insertCell(2);
      countCell.innerHTML = y;
    }
  }

};

function agentMenu(agents, mType, id, current) {
  const m = document.createElement("select");

  const unassigned = document.createElement("option");
  unassigned.setAttribute("value", 0);
  unassigned.text = "unassigned";
  m.add(unassigned);

  for (const [id, agent] of agents) {
    const a = document.createElement("option");
    a.setAttribute("value", id);
    a.text = agent.name;
    if (agent.squad && agent.squad != "boots") a.text = agent.name + " (" + agent.squad + ")";
    if (id == current) {
      a.setAttribute("selected", true);
    }
    m.add(a);
  }

  if (mType == "marker") {
    m.addEventListener("change", (event) => {
      agentAssignMarker(id, m);
    });
  } else {
    m.addEventListener("change", (event) => {
      agentAssignLink(id, m);
    });
  }
  return m;
}

function colorMenu(link) {
  const m = document.createElement("select");
  m.onchange = colorAssignLink; 
  m.id = link.ID;

  const list = {
    main: "Op Default",
    groupa: "Orange",
    groupb: "Light Orange",
    groupc: "Tan",
    groupd: "Purple",
    groupe: "Teal",
    groupf: "Pink"
  };

  for (name in list) {
    const a = document.createElement("option");
    a.setAttribute("value", name);
    a.text = list[name];
    if (link.color == name) {
      a.setAttribute("selected", true);
    }
    m.add(a);
  }

  return m;
}

function opPromise(id) {
  return new Promise(function (resolve, reject) {
    xhr = new XMLHttpRequest();
    xhr.open('GET', "{{WebAPIPath}}/draw/" + id + "?json=y");
    xhr.setRequestHeader('cache-control', 'no-cache');
    xhr.setRequestHeader('cache-control', 'no-store');
    xhr.setRequestHeader('pragma', 'no-cache');
    // this is the money
    xhr.setRequestHeader('if-modified-since', 'Tue, 01 Jan 1980 1:00:00 GMT');
    xhr.onload = function() {
       if (xhr.status === 200) {
         resolve(JSON.parse(xhr.responseText));
       } else {
         reject(xhr.responseText);
       }
    };
    xhr.send();
  });
}

var opstepsort = Sortable.create(opsteps, {
  multiDrag: true,
  selectedClass: 'selected',
  handle: ".handle",
  animation: 150,
  store: {
    set: function (opstepssort) {
      const order = opstepssort.toArray();
      xhr = new XMLHttpRequest();
      xhr.open('POST', "/api/v1/draw/{{.ID}}/order");
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        const res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
	  i = 1;
	  order.forEach(function(link) {
            const el = document.getElementById("opsteps-" + link);
	    el.innerHTML = i;
	    i++;
	  });
        } else {
	    alert(xhr.responseText)
	}
      }
      xhr.send(encodeURI('order=' + order));
    }
  }
});

function agentAssignLink(id, sel) {
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/link/" + id + "/assign");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
        } else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('agent=' + sel.value));
}

function colorAssignLink(event) {
    const sel = event.target
    const id = event.target.id

    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/link/" + id + "/color");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
        } else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('color=' + sel.value));
}

function agentAssignMarker(id, sel) {
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/marker/" + id + "/assign");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
	} else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('agent=' + sel.value));
}

function assignLinkDesc(id, sel) {
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/link/" + id + "/desc");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
	} else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('desc=' + sel.value));
}

function changeLinkDirection(event) {
    const sel = event.target
    const id = event.target.id
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('GET', "/api/v1/draw/{{.ID}}/link/" + id + "/swap");
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
            const oldFm = document.getElementById("rev-" + id + "-fm").cloneNode(true);
            const oldTo = document.getElementById("rev-" + id + "-to").cloneNode(true);
            const fm = document.getElementById("rev-" + id + "-fm");
            const to = document.getElementById("rev-" + id + "-to");
	    fm.replaceChild(oldTo.firstChild, fm.firstChild);
	    to.replaceChild(oldFm.firstChild, to.firstChild);
	} else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('desc=' + sel.value));
}

function assignMarkerComment(id, sel) {
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/marker/" + id + "/comment");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
	} else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('comment=' + sel.value));
}

function setopinfo(id, sel) {
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/info");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
	} else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('info=' + sel.value));
}

/* convert the array of portals sent by the server into a map for easy processing */
function portalMap(res) {
  const m = new Map();
  /* XXX move everything to newer for (x of y) structure */
  res.opportals.forEach(function(portal) {
    m.set(portal.id, portal);
  });
  return m;
}

/* convert the array of agents sent by the server into a map for easy processing */
async function agentMap(res) {
  const a = new Map();
  const done = new Array();

  /* XXX move everything to newer for (x of y) structure */
  for (const team of res.teamlist) {
    done.push(team.teamid);
    t = await getTeam(team.teamid);
    for (const agent of t.agents) {
      if (agent.state) {
        if (!a.has(agent.id)) {
	  a.set(agent.id, agent);
	}
      }
    }
  }
  return a;
}

function getTeam(teamid) {
  return new Promise(function (resolve, reject) {
    const xhr = new XMLHttpRequest();
    // caching should be OK
    xhr.open('GET', "{{WebAPIPath}}/team/" + teamid + "?json=y", true);
    xhr.onload = function() {
      if (xhr.status === 200) {
        resolve(JSON.parse(xhr.responseText));
      } else {
        reject("unable to fetch /me");
      }
    };
    xhr.send();
  });
}

function getMe() {
  return new Promise(function (resolve, reject) {
    const xhr = new XMLHttpRequest();
    // caching should be OK
    xhr.open('GET', "{{WebAPIPath}}/me?json=y", true);
    xhr.onload = function() {
        if (xhr.status === 200) {
        	resolve(JSON.parse(xhr.responseText));
	} else {
		reject("unable to fetch /me");
	}
    };
    xhr.send();
  });
}

function calculateDistance(res, from, to, portals) {
  const start = portals.get(from);
  const end = portals.get(to);
  const sl = parseFloat(start.lat);
  const el = parseFloat(end.lat);
  const startrl = Math.PI * sl / 180.0;
  const endrl = Math.PI * el / 180.0;
  const t = parseFloat(start.lng);
  const th = parseFloat(end.lng);
  const rt = Math.PI * (t - th) / 180.0;

  let dist = Math.sin(startrl) * Math.sin(endrl) + Math.cos(startrl) * Math.cos(endrl) * Math.cos(rt);
  if (dist > 1) {
        dist = 1;
  }
  dist = Math.acos(dist);
  dist = dist * 180 / Math.PI;
  dist = dist * 60 * 1.1515 * 1.609344;
  dist = (Math.round(dist * 100) / 100);

  let level = 1.0;
  if (dist > .016) {
    level = fourthroot(dist * 1000) / (2 * fourthroot(10));
  }
  if (level > 8) {
    level = 8;
  }
  level = (Math.round(level * 10) / 10);

  return dist + "km (level " + level +")";
}

function fourthroot(a) {
  return Math.pow(Math.E, Math.log(a)/4.0)
}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
</script>
</body>
</html>
{{end}}
