{{define "opdata"}}
{{$drawID := .ID}}
{{$teamID := .TeamID}}
<html lang="en">
<head>
<title>{{.Name}} Op data</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
	<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<h1>Op Data</h1>
<div class="content-area">
<div class="card mb-2">
<div class="card-header">Details</div>
<div class="card-body">
<ul class="list-group list-group-flush">
<li class="list-group-item"><strong>Name:</strong> {{.Name}} (id: {{.ID}})</li>
<li class="list-group-item"><strong>Team:</strong> <a href="{{WebAPIPath}}/team/{{.TeamID}}/edit">{{.Team}}</a></li>
<li class="list-group-item"><a href="{{WebAPIPath}}/draw/{{.ID}}/stock">Stock Intel Link</a></li>
<li class="list-group-item"><textarea onChange="setopinfo({{.ID}}, this)">Op info will go here</textarea></a></li>
</ul>
</div>
</div>

<div class="card">
<div class="card-header">Links</div>
<div class="card-body">
 <div class="list-group container-fluid" id="linklist">
  <div class="list-group-item row" id="linklist-header" data-id="000">
     <span class="col-sm-1">Throw Order</span>
     <span class="col-sm-2">From</span>
     <span class="col-sm-2">To</span>
     <span class="col-sm-1">Distance</span>
     <span class="col-sm-3">Assigned To</span>
     <span class="col-sm-3">Description</span>
  </div>
{{range .Links}}
  <div class="list-group-item row" id="{{.ID}}" data-id="{{.ID}}">
     <span class="col-sm-1"><span id="throworder-{{$.ID}}">{{.ThrowOrder}}</span></form></span>
     <span class="col-sm-2"><a href="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/portal/{{.FromID}}">{{.From}}</a></span>
     <span class="col-sm-2"><a href="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/portal/{{.ToID}}">{{.To}}</a></span>
     <span class="col-sm-1">{{.Distance}} KM</span>
     <span class="col-sm-3"><form action="#">{{OpUserMenu .AssignedToID $teamID .ID "agentAssignLink"}}</form></span>
     <span class="col-sm-3"><form action="#"><input type="text" name="desc" value="{{.Desc}}" onChange="assignLinkDesc({{.ID}}, this)"></form></span>
  </div>
{{end}}
 </div>
</div>
</div>


<div class="card mb-2">
<div class="card-header">Markers</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Portal</th>
     <th scope="col">Type</th>
     <th scope="col">Assigned To</th>
     <th scope="col">Comment</th>
    </tr>
   </thead>
   <tbody>
	{{range .Markers}}
		<tr>
		<td><a href="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/portal/{{.PortalID}}">{{.Portal}}</a></td>
		<td><div class="{{.Type}}">{{.Type}}</div></td>
		<td><form action="#">{{OpUserMenu .AssignedToID $teamID .ID "agentAssignMarker"}}</form></td>
		<td><form action="#"><input type="text" name="comment" value="{{.Comment}}" onChange="assignMarkerComment({{.ID}}, this)"></form></td>
		</tr>
	{{end}}
   </tbody>
  </table>
</div>

<div class="card mb-2">
<div class="card-header">Keys Needed</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Portal</th>
     <th scope="col">Keys Required</th>
     <th scope="col">On Hand</th>
    </tr>
   </thead>
   <tbody>
	{{range .Keys}}
		<tr>
		<td><a href="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/portal/{{.ID}}">{{.Portal}}</a></td>
		<td>{{.Required}}</td>
		<td>{{.Onhand}}</form></td>
		</tr>
		{{range .OnhandList}}
		<tr>
		<td></td>
		<td><a href="{{WebAPIPath}}/agent/{{.Gid}}" class="agent-name">{{.Agent}}</a></td>
		<td>{{.Onhand}}</form></td>
		</tr>
		{{end}}
	{{end}}
   </tbody>
  </table>
</div>
</div>

<div class="card mb-2">
<div class="card-header">Capsule Build List</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Agent</th>
     <th scope="col">Portal</th>
     <th scope="col">Keys Required</th>
    </tr>
   </thead>
   <tbody>
   <tr>
     <td>TBD</td>
     <td>TBD</td>
     <td>TBD</td>
   </tr>
   </tbody>
  </table>
</div>
</div>

<div class="card mb-2">
<div class="card-header">Misc. Functions</div>
<div class="card-body">
  <table class="table">
   <tbody>
     <tr><td><form action="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/chown"><input type="text" name="to" value=""> <input type="submit" name="Change Owner" value="Change Owner"></form></td></tr>
     <tr><td><form action="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/chgrp">{{TeamMenu .Gid $teamID}} <input type="submit" name="Change Team" value="Change Team"></form></td></tr>
   </tbody>
  </table>
</div>
</div>
</div>
		<!-- content ends here -->				
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}
{{template "bootstrapjs"}}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.js"></script>
<script>
var sortable = Sortable.create(linklist, {
  store: {
    set: function (sortable) {
      var order = sortable.toArray();
      console.log(order, "order")
      xhr = new XMLHttpRequest();
      xhr.open('POST', "/api/v1/draw/{{.ID}}/order");
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
	    /* update numbers */
        } else {
	    alert(xhr.responseText)
	}
      }
      xhr.send(encodeURI('order=' + order));
    }
  }
});

function agentAssignLink(id, sel)
{
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/link/" + id + "/assign");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
        } else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('agent=' + sel.value));
}

function agentAssignMarker(id, sel)
{
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/marker/" + id + "/assign");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
	} else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('agent=' + sel.value));
}

function assignLinkDesc(id, sel)
{
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/link/" + id + "/desc");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
	} else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('desc=' + sel.value));
}

function assignMarkerComment(id, sel)
{
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/marker/" + id + "/comment");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
	} else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('comment=' + sel.value));
}

function setopinfo(id, sel)
{
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/info");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
	} else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('info=' + sel.value));
}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
</script>
</body>
</html>
{{end}}
