{{define "opinfo"}}
{{$drawID := .ID}}
<html lang="en">
<head>
<title>{{.Name}} Op data</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
	<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<div class="card mb-2">
<div class="card-header">Op data</div>
<div class="card-body"></div>
<ul class="list-group list-group-flush">
<li class="list-group-item">Name: {{.Name}}</li>
<li class="list-group-item">Team: <a href="{{WebAPIPath}}/team/{{.TeamID}}">{{.Team}}</a></li>
<li class="list-group-item"><a href="{{WebAPIPath}}/draw/{{.ID}}/stock">Stock Intel Link</a></li>
<li class="list-group-item">Comments: </a></li>
</ul>
</div>

<div class="card mb-2">
<div class="card-header">Links</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">From</th>
     <th scope="col">To</th>
     <th scope="col">Distance</th>
     <th scope="col">Assigned To</th>
     <th scope="col">Description</th>
    </tr>
   </thead>
   <tbody>
	{{range .Links}}
		<tr>
		<td><a href="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/portal/{{.FromID}}">{{.From}}</a></td>
		<td><a href="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/portal/{{.ToID}}">{{.To}}</a></td>
		<td>{{.Distance}} KM (min level req...)</td>
		<td><a href="{{WebAPIPath}}/agent/{{.AssignedToID}}">{{.AssignedTo}}</a></form></td>
		<td>{{.Desc}}</form></td>
		</tr>
	{{end}}
   </tbody>
  </table>
</div>
</div>

<div class="card mb-2">
<div class="card-header">Markers</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Portal</th>
     <th scope="col">Type</th>
     <th scope="col">Assigned To</th>
     <th scope="col">Comment</th>
    </tr>
   </thead>
   <tbody>
	{{range .Markers}}
		<tr>
		<td><a href="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/portal/{{.PortalID}}">{{.Portal}}</a></td>
		<td>{{.Type}}</td>
		<td><a href="{{WebAPIPath}}/agent/{{.AssignedToID}}">{{.AssignedTo}}</a></td>
		<td>{{.Comment}}</form></td>
		</tr>
	{{end}}
   </tbody>
  </table>
</div>

<div class="card mb-2">
<div class="card-header">Keys Needed</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Portal</th>
     <th scope="col">Keys Required</th>
     <th scope="col">On Hand</th>
    </tr>
   </thead>
   <tbody>
	{{range .Keys}}
		<tr>
		<td>{{.Portal}}</td>
		<td>{{.Required}}</td>
		<td></td>
		</tr>
	{{end}}
   </tbody>
  </table>
</div>
</div>
		<!-- content ends here -->				
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}
{{template "bootstrapjs"}}
</body>
</html>
{{end}}
