{{define "opinfo"}}
{{$drawID := .ID}}
<html lang="en">
<head>
<title>Loading ...</title>
{{template "styles"}}
</head>
<body onload="loadOp({{.ID}})">
{{template "nav"}}
	<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<h1>Op Data</h1>
<div class="content-area">

<div class="card mb-2">
<div class="card-header">Details</div>
<div class="card-body">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" id="opname">loading... </li>
    <li class="list-group-item" id="opcomment"></li>
    <li class="list-group-item"><a href="{{WebAPIPath}}/draw/{{.ID}}/stock">Stock Intel Link</a></li>
    <li class="list-group-item"><strong><a href="{{WebAPIPath}}/draw/{{.ID}}/myroute">My Route</a> (Google Maps)</strong></li>
  </ul>
</div>
</div>

<div class="card mb-2">
<div class="card-header">Operation Steps</div>
<div class="card-body">
  <table class="table" id="optable">
   <thead>
    <tr>
     <th scope="col">Order</th>
     <th scope="col">Portal</th>
     <th scope="col">To/Action</th>
     <th scope="col">Distance</th>
     <th scope="col">Assigned To</th>
     <th scope="col">Description</th>
     <th scope="col">Status</th>
     <th scope="col">Completed</th>
    </tr>
   </thead>
   <tbody id="opsteps">
     <!-- data goes here, populated by loadOp() -->
   </tbody>
  </table>
</div>
</div>

<div class="card mb-2">
<div class="card-header">Keys Needed</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Portal</th>
     <th scope="col">Keys Required</th>
     <th scope="col">On Hand</th>
     <th scope="col">My Count</th>
    </tr>
   </thead>
   <tbody id="opkeys">
     <!-- data goes here, populated by loadOp() -->
   </tbody>
  </table>
</div>
</div>

</div>
		<!-- content ends here -->				
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.intro-header -->

{{template "footer"}}
{{template "bootstrapjs"}} 
<script>
function loadOp(id) {
    xhr = new XMLHttpRequest();
    xhr.open('GET', "/api/v1/draw/" + id + "?json=y");
    xhr.setRequestHeader('cache-control', 'no-cache, must-revalidate, post-check=0, pre-check=0');
    xhr.setRequestHeader('pragma', 'no-cache');
    xhr.setRequestHeader('expires', '0');
    xhr.onload = function() {
        if (xhr.status === 200) {
        	const res = JSON.parse(xhr.responseText);
		const portals = portalMap(res);

		document.title = res.name + " Operation Info";
		document.getElementById("opname").innerHTML = "<strong>Name:</strong> " + res.name;
		document.getElementById("opcomment").innerHTML = "<strong>Comment:</strong> " + res.comment;
		const table = document.getElementById("opsteps");

		let oldrow = table.lastElementChild;
		while (oldrow) {
			table.removeChild(oldrow);
			oldrow = table.lastElementChild;
		}

		res.links.forEach(function(link) {
			const r = table.insertRow(-1);
			const pos = r.insertCell(0);
			pos.innerHTML = link.throwOrderPos;
			const src = r.insertCell(1);
			const fromPortalName = portals.get(link.fromPortalId).name;
			src.innerHTML = "<a href=\"/api/v1/draw/" + id + "/portal/" + link.fromPortalId + "\">" + fromPortalName + "</a>";
			const dst = r.insertCell(2);
			const toPortalName = portals.get(link.toPortalId).name;
			dst.innerHTML = "<a href=\"/api/v1/draw/" + id + "/portal/" + link.toPortalId + "\">" + toPortalName + "</a>";
			const distance = r.insertCell(3);
			distance.innerHTML = calculateDistance(res, link.id);
			const assignedTo = r.insertCell(4);
			assignedTo.innerHTML = link.assignedToNickname; // for now, switch to resolving it properly later -- also link to profile
			const description = r.insertCell(5);
			description.innerHTML = link.description;
			const stat = r.insertCell(6);
			stat.innerHTML = "";
			const completed = r.insertCell(7);
			completed.innerHTML = "";
		});
		res.markers.forEach(function(marker) {
			const r = table.insertRow(-1);
			const pos = r.insertCell(0);
			pos.innerHTML = marker.order;
			const src = r.insertCell(1);
			const portalName = portals.get(marker.portalId).name;
			src.innerHTML = "<a href=\"/api/v1/draw/" + id + "/portal/" + marker.portalId + "\">" + portalName + "</a>";
			const action = r.insertCell(2);
			action.innerHTML = "<span class=\"" + marker.type + "\">" + marker.type + "</span>";
			const distance = r.insertCell(3);
			distance.innerHTML = "";
			const assignedTo = r.insertCell(4);
			assignedTo.innerHTML = marker.assignedNickname; // for now -- also link to profile
			const description = r.insertCell(5);
			description.innerHTML = marker.comment;
			const stat = r.insertCell(6);
			stat.innerHTML = marker.state;
			const completed = r.insertCell(7);
			completed.innerHTML = marker.completedBy;
		});
		/* convert to array -- this is dumb, there has to be a better way than requiring jquery for this */
		const rows = $('#optable > tbody').children('tr').get();
		rows.sort(function(a, b) {
		  return a.cells[0].innerHTML - b.cells[0].innerHTML;
		});
		for (var i = 0; i < rows.length; i++) {  // .append() will move them for you
		    table.append(rows[i]);
		}

		opKeys(res, portals, id);
        } else {
		// display error
        }
    }
    xhr.send();
}

function portalMap(res) {
	const m = new Map();
	res.opportals.forEach(function(portal) {
		m.set(portal.id, portal);
	});
	return m;
}

async function opKeys(res, portals, id) {
	const wme = await getMe();
	keytable = document.getElementById("opkeys");
	oldrow = keytable.lastElementChild;
	while (oldrow) {
		keytable.removeChild(oldrow);
		oldrow = keytable.lastElementChild;
	}

	const k = new Map();
	if (res.links) {
		res.links.forEach(function(link) {
			if (k.has(link.toPortalId)) {
				const v = k.get(link.toPortalId);
				v.required = v.required + 1;
				k.set(link.toPortalId, v);
			} else {
				const v = new Object();
				v.portalId = link.toPortalId;
				v.required = 1;
				v.onhand = 0;
				v.ihave = 0;
				k.set(link.toPortalId, v);
			}
		});
	}

	if (res.keysonhand) {
		res.keysonhand.forEach(function(koh) {
			if (k.has(koh.portalId)) {
				const v = k.get(koh.portalId);
				v.onhand = v.onhand + koh.onhand;
				if (koh.gid == wme.GoogleID) {
					v.ihave = koh.onhand;
				}
				k.set(koh.portalId, v);
			}
		});
	}

	k.forEach(function(key) {
		const r = keytable.insertRow(-1);
		r.setAttribute("id", key.portalId + ".row");
		const portal = r.insertCell(0);
		const portalName = portals.get(key.portalId).name;
		portal.innerHTML = "<a href=\"/api/v1/draw/" + id + "/portal/" + key.portalId + "\">" + portalName + "</a>";
		const required = r.insertCell(1);
		required .innerHTML = key.required;
		const onhand = r.insertCell(2);
		onhand.innerHTML = key.onhand;
		const me = r.insertCell(3);
		ihaveinput = document.createElement("input");
		ihaveinput.setAttribute("type", "text");
		ihaveinput.setAttribute("size", 3);
		ihaveinput.setAttribute("name", "onhand");
		ihaveinput.setAttribute("id", key.portalId);
		ihaveinput.setAttribute("value", key.ihave);
		me.appendChild(ihaveinput);
		ihaveinput.addEventListener('change', (event) => { keyOnHand(key.portalId, r, id, event); });
	});
}

function agentIDtoName(res, id) {

}

function calculateDistance(res, linkID) {
    return "0 (level 0)";
}

function getMe() {
  return new Promise(function (resolve, reject) {
    const xhr = new XMLHttpRequest();
    xhr.open('GET', "/api/v1/me?json=y", true);
    xhr.onload = function() {
        if (xhr.status === 200) {
        	resolve(JSON.parse(xhr.responseText));
	} else {
		reject("unable to fetch /me");
	}
    };
    xhr.send();
  });
}

function keyOnHand(id, row, opid, event) {
    row.style.backgroundColor = "yellow";
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/" + opid + "/portal/" + id + "/keyonhand");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        if (xhr.status === 200) {
	    /* rather than parsing this, just refresh */
	    loadOp(opid);
        } else {
	    row.style.backgroundColor="#999"
            alert(xhr.status + ": " + xhr.responseText)
        }
    }
    xhr.send(encodeURI('onhand=' + event.target.value));
}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
</script>
</body>
</html>
{{end}}
