{{define "opinfo"}}
{{$drawID := .ID}}
<html lang="en">
<head>
<title>{{.Name}} Op data</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
	<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<h1>Op Data</h1>
<div class="content-area">

<div class="card mb-2">
<div class="card-header">Details</div>
<div class="card-body">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Name:</strong> {{.Name}}</li>
    <li class="list-group-item"><strong>Team:</strong> <a href="{{WebAPIPath}}/team/{{.TeamID}}">{{.Team}}</a></li>
    <li class="list-group-item"><a href="{{WebAPIPath}}/draw/{{.ID}}/stock">Stock Intel Link</a></li>
    <li class="list-group-item"><strong>Op Info: {{.Comment}}</strong></li>
    <li class="list-group-item"><strong><a href="{{WebAPIPath}}/draw/{{.ID}}/myroute">My Route</a> (Google Maps)</strong></li>
  </ul>
</div>
</div>

<div class="card mb-2">
<div class="card-header">Links</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Order</th>
     <th scope="col">From</th>
     <th scope="col">To</th>
     <th scope="col">Distance</th>
     <th scope="col">Assigned To</th>
     <th scope="col">Description</th>
     <th scope="col">Completed</th>
    </tr>
   </thead>
   <tbody>
	{{range .Links}}
		<tr>
		<td>{{.ThrowOrder}}</td>
		<td><a href="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/portal/{{.FromID}}">{{.From}}</a></td>
		<td><a href="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/portal/{{.ToID}}">{{.To}}</a></td>
		<td>{{.Distance}}km (level: {{$mpl := .MinPortalLevel}}{{printf "%.1f" $mpl}})</td>
		<td><a href="{{WebAPIPath}}/agent/{{.AssignedToID}}" class="agent-name">{{.AssignedTo}}</a></form></td>
		<td>{{.Desc}}</td>
		<td>{{if .Completed}} <img src="/static/img/checkmark.png" alt="completed">{{end}}</td>
		</tr>
	{{end}}
   </tbody>
  </table>
</div>
</div>

<div class="card mb-2">
<div class="card-header">Markers</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Order</th>
     <th scope="col">Portal</th>
     <th scope="col">Type</th>
     <th scope="col">Assigned To</th>
     <th scope="col">Status</th>
     <th scope="col">Comment</th>
    </tr>
   </thead>
   <tbody>
	{{range .Markers}}
		<tr>
		<td>{{.Order}}</td>
		<td><a href="{{WebAPIPath}}/draw/{{printf "%s" $drawID}}/portal/{{.PortalID}}">{{.Portal}}</a></td>
		<td><div class="{{.Type}}">{{.Type}}</div></td>
		<td><a href="{{WebAPIPath}}/agent/{{.AssignedToID}}" class="agent-name">{{.AssignedTo}}</a></td>
		<td>{{.State}}</form></td>
		<td>{{.Comment}}</form></td>
		</tr>
	{{end}}
   </tbody>
  </table>
</div>
</div>

<div class="card mb-2">
<div class="card-header">Keys Needed</div>
<div class="card-body">
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Portal</th>
     <th scope="col">Keys Required</th>
     <th scope="col">On Hand</th>
     <th scope="col">My Count</th>
    </tr>
   </thead>
   <tbody>
	{{range .Keys}}
		<tr>
		<td>{{.Portal}}</td>
		<td>{{.Required}}</td>
		<td><div id="oh_{{.ID}}" oh="{{.Onhand}}" ih="{{.IHave}}">{{.Onhand}}</div></td>
		<td><input type="text" size="3" name="onhand" id="{{.ID}}" onChange="keyOnHand({{.ID}}, this)" value="{{.IHave}}"/></td>
		</tr>
	{{end}}
   </tbody>
  </table>
</div>
</div>

</div>
		<!-- content ends here -->				
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.intro-header -->

{{template "footer"}}
{{template "bootstrapjs"}} 
<script>
function keyOnHand(id, sel)
{
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/portal/" + id + "/keyonhand");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
    	sel.setAttribute("disabled","true");
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
            sleep(100).then(function() {
                sel.style.backgroundColor = "green";
                sleep(500).then(function() {
                    sel.style.backgroundColor = "white";
                    sel.removeAttribute("disabled");
                });
            });
	    var ohid = document.getElementById("oh_" + id);
	    newval = parseInt(sel.value, 10);
	    if (isNaN(newval)) newval = 0; // @robely42 ... sigh
	    if (newval < 0) newval = 0;
	    ohid.innerHTML = (parseInt(ohid.getAttribute("oh"),10) - parseInt(ohid.getAttribute("ih"),10) + newval);
        } else {
	    sel.style.backgroundColor="#999"
            alert(xhr.status + ": " + xhr.responseText)
        }
    }
    xhr.send(encodeURI('onhand=' + sel.value));
}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
</script>
</body>
</html>
{{end}}
