{{define "opperms"}}
{{$drawID := .ID}}
<html lang="en">
<head>
<title>{{.ID}} Op Permissions</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
	<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<h1>Op Permissions</h1>
<div class="content-area">

<div class="card mb-2">
<div class="card-header">Permissions</div>
<div class="card-body">
<ul class="list-group list-group-flush">
<li class="list-group-item"><a href="{{WebAPIPath}}/draw/{{.ID}}">Operation</a></li>
</ul>
  <table class="table">
   <thead>
    <tr>
     <th scope="col">Team</th>
     <th scope="col">Permission</th>
     <th scope="col">Delete</th>
    </tr>
   </thead>
   <tbody>
   {{range .Permissions}}
    <tr>
      <td><a href="{{WebAPIPath}}/team/{{.TeamID}}">{{.TeamName}}</a></td>
      <td>{{.Role}}</td>
      <td><a href="{{WebAPIPath}}/draw/{{$drawID}}/delperm?role={{.Role}}&amp;team={{.TeamID}}">[delete]</a></td>
    </tr>
   {{end}}
   </tbody>
  </table>
<div><form action="{{WebAPIPath}}/draw/{{.ID}}/perms" method="POST">
{{TeamMenu .Gid ""}}
<select name="role">
<option value="read">Read</option>
<option value="write">Write</option>
<option value="assignedonly">Assigned Only</option>
</select>
<input type="submit" name="add" value="Add" />
</form></div>
</div>
</div>

</div>
		<!-- content ends here -->				
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.intro-header -->

{{template "footer"}}
{{template "bootstrapjs"}} 
</body>
</html>
{{end}}
