{{define "portaldata"}}
<html lang="en">
<head>
<title>Portal {{.Name}}</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
		<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<div class="card mb-2">
<div class="card-header">Portal: {{.Name}}</div>
<div class="card-body">
<div><a href="https://intel.ingress.com/intel?pll={{.Lat}},{{.Lon}}">intel</a></div>
<div>Comment: <input type="text" name="comment" value="{{.Comment}}" onchange="assignPortalComment(this)"></div>
<div>Hardness: <input type="text" name="hardness" value="{{.Hardness}}" onchange="assignPortalHardness(this)"></div>
</div>
<!-- content ends here -->				
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}
{{template "bootstrapjs"}}
<script>
function assignPortalComment(sel)
{
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/portal/{{.ID}}/comment");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
            /* xxx */
	} else {
	    alert(res.Error)
	}
    }
    xhr.send(encodeURI('comment=' + sel.value));
}

function assignPortalHardness(sel)
{
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/draw/{{.ID}}/portal/{{.ID}}/hardness");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
            /* xxx */
	} else {
	    alert(res.Error)
	}
    }
    xhr.send(encodeURI('comment=' + sel.value));
}
</script>
</body>
</html>
{{end}}
