{{define "portaldata"}}
<html lang="en">
<head>
<title>Portal {{.Name}}</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
		<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<div class="card mb-2">
<div class="card-header">Portal: {{.Name}}</div>
<div class="card-body">
{{.Name}}
Link to intel {{.Lat}} {{.Lon}}
Comment: {{.Comment}}
Hardness: {{.Hardness}}
</div>
<!-- content ends here -->				
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}

	<!-- jQuery -->
	<script src="https://wasabee.rocks/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="https://wasabee.rocks/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}
