{{define "settings"}}
<html lang="en">
<head>

<title>{{.IngressName}} Agent data</title>
{{template "styles"}}

</head>
<body>
{{template "nav"}}
	<div class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<h1>Settings</h1>
<div class="content-area">

<div class="card mb-2">
  <div class="card-header">Manual Location Set</div>
  <div class="card-body">
		<li class="list-group-item">
<p><em>Use this to set your location if you are not using any of the other options (e.g. OwnTracks, Telegram)</em></p>
<form action="{{WebAPIPath}}/me" method="get">
Lat: <input type="text" name="lat" value="0" id="lat" />
Lon: <input type="text" name="lon" value="0" id="lon" />
<input type="submit" name="location" value="set location" />
</form>
        </li>
  </ul>
</div>
</div>	
		<!-- content ends here -->				
						
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}
<script>
function geoFindMe() {
  const lat = document.querySelector('#lat');
  const lon = document.querySelector('#lon');

  function success(position) {
	lat.value = position.coords.latitude;
	lon.value = position.coords.longitude;
  }

  function error() {
	lat.value = 'Unknown';
	lon.value = 'Unknown';
  }

  if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(success, error);
  }

}
document.querySelector('#lat').addEventListener('click', geoFindMe);
document.querySelector('#lon').addEventListener('click', geoFindMe);
</script>
{{template "bootstrapjs"}}
</body>
</html>
{{end}}
