{{define "settings"}}
<html lang="en">
<head>
<title>{{.IngressName}} Agent data</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
	<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<h1>Settings</h1>
<div class="content-area">
{{if (TGRunning)}}
<div class="card mb-2">
<div class="card-header">Telegram</div>
<div class="card-body">
</div>
  <ul class="list-group list-group-flush">
  	<li class="list-group-item">
{{if (.Telegram.ID) }}
		<strong>ID:</strong> <span class="agent-name">{{.Telegram.UserName}}</span> ({{.Telegram.ID}})
{{end}}
{{if (.Telegram.Verified) }}
		<p><strong>Status:</strong> Verified.</p>
{{else}}
		<p><strong>Status:</strong> Not Verified.</p>
		<p><strong>Instructions:</strong> </p>
    {{if (.Telegram.Authtoken) }}
    <div class="alert alert-suggess" role="alert">
        Tell the bot (<a href="tg://resolve?domain={{ TGGetBotName }}">@{{ TGGetBotName }}</a>) <a href="https://telegram.me/{{ TGGetBotName }}?start={{.Telegram.Authtoken}}">{{.Telegram.Authtoken}}</a> to get verified.
    </div>
    {{else}}
    <div class="alert alert-primary" role="alert">
        Tell the bot (<a href="tg://resolve?domain={{ TGGetBotName }}">@{{ TGGetBotName }}</a>) <a href="https://telegram.me/{{ TGGetBotName }}?start={{.LocationKey}}">{{.LocationKey}}</a> to start the verification process.
    </div>
    {{end}}
{{end}}
		</li>
  </ul>
</div>

<div class="card mb-2">
<div class="card-header">Agent Info</div>
<div class="card-body">
<ul class="list-group list-group-flush">
<li class="list-group-item"><strong>Location Share Key:</strong> <span class="agent-name">{{.LocationKey}}</span>
<p><em>(legacy, only used for OwnTracks now).</em></p>
<p><a href="{{WebAPIPath}}/me?newlockey=y">Request a new LocKey</a></p>
</li>
<li class="list-group-item"><strong>Display Name:</strong> <span class="agent-name">{{.IngressName}}</span>
<p><em>This information comes from <a href="https://v.enl.one/">V</a> or <a href="https://enlightened.rocks">.rocks</a>. If you have an UnverifiedAgent_ name, please ensure your .Rocks or V information is correct.</em></p>
</li>
{{if VEnlOne}}
{{if .VVerified}}
<li class="list-group-item"><strong><a href="https://v.enl.one/">V Status:</a></strong> <a href="https://v.enl.one/profile/{{.Vid}}">Verified</a></li>
<li class="list-group-item"><strong><a href="https://raid.enl.one/">Checking RAID for location data:</a></strong> {{.RAID}}
<p><em>RAID is an ENL Android/iPhone app which can share location data. We are still researching the exact configuration to make this work. If you are a RAID user and do not want to use OwnTracks, we can get RAID data. OwnTracks will give more up-to-date information to the operator since there is a lag in our polling the RAID servers. If a single polling cycle returns an error for you, this value will revert to disabled. <a href="/api/v1/me/statuslocation?sl=On">Enable</a></em></p>
</li>
{{else}}
<li class="list-group-item"><a href="https://v.enl.one/">V Status:</a> Not Verified</li>
<li class="list-group-item">
<form action="{{WebAPIPath}}/me" method="get">
<input type="text" name="name" />
<input type="submit" name="update" value="update display name" />
</form>
</li>
{{end}}
{{end}}
{{if EnlRocks}}
<li class="list-group-item"><strong><a href="https://enlightened.rocks/">.Rocks Verified:</a></strong> <a href="http://enlightened.rocks/me">{{.RocksVerified}}</a>
<p><em>.Rocks verification typically only takes place in relationship to anomolies. Lack of verification does not mean you don't have a .rocks account, it just means you've not been verified at an anomaly event</em></p>
</li>
{{end}}
</ul>
</div>
</div>

<div class="card mb-2">
<div class="card-header"><a href="https://owntracks.org">OwnTracks</a> Info</div>
<div class="card-body">
  <ul class="list-group list-group-flush">
<li class="list-group-item"><strong>OwnTracks Mode:</strong> Private HTTPS
<p><em>MQTT is not currently supported.</em></p>
</li>
<li class="list-group-item"><strong>OwnTracks Username:</strong> <span class="agent-name">{{.LocationKey}}</span>
<p><em>Use this value in the OwnTracks app.</em></p>
</li>
<li class="list-group-item"><strong>OwnTracks Password:</strong>
{{if eq .OwnTracksPW "" }}
  <strong>Not yet configured:</strong> <em>You will need to configure a password in order to use OwnTracks.</em>
{{else}}
  Configured
{{end}}
</li>
<li class="list-group-item">
<form action="{{WebAPIPath}}/me" method="get">
<input type="text" name="otpw" />
<input type="submit" name="update" value="update OT Password" />
</form>
</li>
<li class="list-group-item"><strong>OwnTracks URL:</strong> {{ Webroot }}/OwnTracks
<p><em>Use this URL in the <a href="https://owntracks.org">OneTracks app</a>. Device ID can be anything. Tracker ID can be any two-letter code. Ask you operator if she has any preference.</em></p>
</li>
</ul>
</div>
</div>
{{end}}

<div class="card mb-2">
  <div class="card-header">Manual Location Set</div>
  <div class="card-body">
		<li class="list-group-item">
<p><em>Use this to set your location if you are not using any of the other options (e.g. OwnTracks, Telegram)</em></p>
<form action="{{WebAPIPath}}/me" method="get">
Lat: <input type="text" name="lat" value="0" id="lat" />
Lon: <input type="text" name="lon" value="0" id="lon" />
<input type="submit" name="location" value="set location" />
</form>
        </li>
  </ul>
</div>
</div>	
		<!-- content ends here -->				
						
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}

	<script>
function geoFindMe() {
  const lat = document.querySelector('#lat');
  const lon = document.querySelector('#lon');

  function success(position) {
	lat.value = position.coords.latitude;
	lon.value = position.coords.longitude;
  }

  function error() {
	lat.value = '-0';
	lon.value = '-0';
  }

  if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(success, error);
  }

}
document.querySelector('#lat').addEventListener('click', geoFindMe);
document.querySelector('#lon').addEventListener('click', geoFindMe);
	</script>
{{template "bootstrapjs"}}
</body>
</html>
{{end}}
