{{define "team"}}
<html lang="en">
<head>
<title>Team: {{.Name}}</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
		<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<div class="card mb-2">
<div class="card-header">Team: {{.Name}}</div>
<div class="card-body"></div>
<table class="table">
<thead>
<tr>
<th scope="col">&nbsp;</th>
<th scope="col">Agent</th>
<th scope="col">Enabled</th>
<th scope="col">Squad</th>
</tr>
</thead>
<tbody>
	{{range .Agent}}
<tr>
	<td>{{if .PictureURL}}<img src="{{.PictureURL}}" height="50" width="50">{{end}}</td>
	<td><a href="{{WebAPIPath}}/agent/{{.Gid}}"> {{.Name}}</a></td>
        <td>{{if .State}} <img src="/static/img/checkmark.png" alt="has team enabled"> {{end}}</td>
        <td>{{if .Squad}}{{.Squad}} {{end}}</td>
</tr>
	{{end}}
</tbody>
</table>
</div>
<!-- content ends here -->				
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}
{{template "bootstrapjs"}}
</body>
</html>
{{end}}
