{{define "teamedit"}}
<html lang="en">
<head>
<title>Edit Team: {{.Name}}</title>
{{template "styles"}}
</head>
<body>
{{template "nav"}}
		<div class="content-sction-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content-section-a">
<!-- content starts here -->
<div class="card mb-2">
<div class="card-header">Team: {{.Name}}</div>
<div class="card-body"></div>
<ul class="list-group list-group-flush">
<li>
<table class="table">
<thead>
 <tr>
   <td>Image</td>
   <td>Name</td>
   <td>Enabled</td>
   <td>Squad</td>
   <td>Display Name</td>
   <td>&nbsp;</td>
 </tr>
</thead>
<tbody>
	{{ $x := .ID }}
	{{ $rc := .RocksComm }}
	{{range .Agent}}
  	<tr>
        <td><a href="{{WebAPIPath}}/agent/{{.Gid}}">{{if .PictureURL}}<img src="{{.PictureURL}}" height="50" width="50">{{end}}</a></td>
        <td><a href="{{WebAPIPath}}/agent/{{.Gid}}">{{.Name}}</a></td>
        <td>{{if .State}} <img src="/static/img/checkmark.png" alt="has team enabled"> {{end}}</td>
        <td><form action="#"><input type="text" name="squad" value="{{.Squad}}" onChange="assignSquad({{.Gid}}, this)"></form></td>
        <td><form action="#"><input type="text" name="displayname" value="{{.DisplayName}}" onChange="displayName({{.Gid}}, this)"></form></td>
	<td>{{if not $rc}}<a href="{{WebAPIPath}}/team/{{printf "%s" $x}}/{{.Gid}}/delete">Remove from team</a>{{end}}</td>
	</tr>
	{{end}}
</tbody>
</table>
</li>
<li class="list-group-item">
<form action="{{WebAPIPath}}/team/{{.ID}}" method="get">
<input type="text" name="key" />
<input type="submit" name="add" value="Add agent to team" />
<small>You can use an Agent name, a GoogleID, or an EnlID</small>
</form>
</li>
</ul>
{{if EnlRocks}}
<li class="list-group-item">
<form action="{{WebAPIPath}}/team/{{.ID}}/rockscfg" method="get">
Rocks Community Identifier: <input type="text" name="rockscomm" value="{{.RocksComm}}" />
Rocks Community API Key: <input type="text" name="rockskey" value="{{.RocksKey}}" />
<input type="submit" name="add" value="configure rocks" />
<br />
<small>If you want this team to have its membership populated from an .rocks community, you will need to get the community ID and API key from the community's settings and add them here. Do not do this unless you trust the enl.rocks community.</small>
</form>
</li>
{{if .RocksKey}}
<li class="list-group-item"><a href="{{WebAPIPath}}/team/{{.ID}}/rocks">Pull associated enl.rocks community members onto this team</a></li>
{{end}}
</ul>
{{end}}
<li class="list-group-item">
<form action="{{WebAPIPath}}/team/{{.ID}}/chown">
New Ownership: <input type="text" name="to" />
<input type="submit" name="chown" value="Change Ownership" />
</form>
</li>
<li class="list-group-item">
<form action="{{WebAPIPath}}/team/{{.ID}}/announce" method="POST">
<textarea name="m">
</textarea>
<input type="submit" name="send announcement" value="send announcement">
</form>
</li>
</div>
<!-- content ends here -->				
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

{{template "footer"}}
{{template "bootstrapjs"}}
<script>
function assignSquad(id, sel)
{
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/team/{{.ID}}/" + id + "/squad");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status == 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
	} else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('squad=' + sel.value));
}

function displayName(id, sel)
{
    sel.style.backgroundColor = "yellow";
    sel.setAttribute("disabled","true");
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/api/v1/team/{{.ID}}/" + id + "/displayname");
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        var res = JSON.parse(xhr.responseText);
        if (xhr.status == 200) {
		sleep(100).then(function() {
	        sel.style.backgroundColor = "green"
	        sleep(500).then(function() {
	            sel.style.backgroundColor = "white"
	            sel.removeAttribute("disabled");
	        });
	    });
	} else {
	    alert(xhr.responseText)
	}
    }
    xhr.send(encodeURI('displayname=' + sel.value));
}
</script>
</body>
</html>
{{end}}
